mixin Service({icon, title, description})
  .col-12.col-md-6.col-lg-4.d-flex
    .img-holder 
      img(src=`${CWD}assets/img/icons/${icon}`, alt="")
    div 
      h5.fs-8.text-white.mb-1.lh-lg.fw-bold= title
      p.fs-9.lh-xl.mb-0.line-clamp-3= description 

mixin Experiences 
  -
    var serviceItems = [
      {
        icon: 'roadmap.svg',
        title: 'Unlimited Projects',
        description: 'With lots of unique blocks, you can easily build a page without coding. Build your next landing page.'
      },
      {
        icon: 'users-wm.svg',
        title: 'Team Management',
        description: 'With lots of unique blocks, you can easily build a page without coding. Build your next landing page.'
      },
      {
        icon: 'share-91.svg',
        title: 'File Sharing',
        description: 'With lots of unique blocks, you can easily build a page without coding. Build your next landing page.'
      },
      {
        icon: 'video_meeting.svg',
        title: 'Video Meeting',
        description: 'With lots of unique blocks, you can easily build a page without coding. Build your next landing page.'
      },
      {
        icon: 'opening-times.svg',
        title: 'Time Tracking',
        description: 'With lots of unique blocks, you can easily build a page without coding. Build your next landing page.'
      },
      {
        icon: 'card-favorite.svg',
        title: 'Payment System',
        description: 'With lots of unique blocks, you can easily build a page without coding. Build your next landing page.'
      }
    ]
  section#service.experience.position-relative 
    .container
      .row.justify-content-center.mb-8.mb-lg-9 
        .col-12
          .position-relative.image-container.z-2.text-center
            video.w-100.h-100.video(src=`${CWD}assets/video/Tech_video.mp4` poster=`${CWD}assets/img/Hero/experiences.png` type="video/mp4" data-video-player)
            .overlay(data-overlay) 
            button.btn.play-button.position-absolute(data-play-button) 
              img.object-fit-contain.w-25(src=`${CWD}assets/img/illustrations/play-solid.svg`, alt="" data-play-icon)
              img.object-fit-contain.w-25(src=`${CWD}assets/img/illustrations/pause-solid.svg`, alt="" data-pause-icon)
            .position-absolute.dots.d-none.d-sm-block
              img(src=`${CWD}assets/img/illustrations/Dots.png`, alt="").img-fluid.w-100
      h2.fs-4.fs-lg-3.fw-bold.text-center.text-white.heading.lh-sm We made 
        span.text-nowrap this app
        br 
        span.text-nowrap to solve
        br.d-sm-none 
        span.text-nowrap  your problems.
      .row.g-2.g-md-3.pb-8.pb-lg-10.px-1
        each item in serviceItems 
          +Service(item)
    .wave-container.position-absolute.top-0.start-0.z-1
      .bg.mt-n1.mt-lg-0 
      .wave(style=`background-image: url('${CWD}assets/img/illustrations/Wave_2.svg')`)