mixin Service({icon, title, description})
  .col-12.col-md-6.col-lg-4.d-flex.align-items-start.gap-2
    img(src=`${CWD}assets/img/icons/${icon}`, alt="")
    div 
      h5.fs-8.text-white.lh-lg.fw-bold= title
      p.text-white.text-opacity-50.lh-xl.mb-0= description 

mixin Experiences 
  -
    var serviceItems = [
      {
        icon: 'roadmap.svg',
        title: 'Unlimited Projects',
        description: 'Manage multiple projects at once and for seamless business operation.'
      },
      {
        icon: 'users-wm.svg',
        title: 'Team Management',
        description: 'Manage your cross-functional teams better than ever with our easily manageable app.'
      },
      {
        icon: 'share-91.svg',
        title: 'File Sharing',
        description: 'Easily share files where necessary and keep them safe with enhanced security and protection.'
      },
      {
        icon: 'video_meeting.svg',
        title: 'Video Meeting',
        description: 'Conduct video meetings and keep records for further use with its cloud storage.'
      },
      {
        icon: 'opening-times.svg',
        title: 'Time Tracking',
        description: 'Track time to ensure meeting all the deadlines and never lag behind managing multiple projects.'
      },
      {
        icon: 'card-favorite.svg',
        title: 'Payment System',
        description: 'With its easy payment system create invoices and get paid all at the same place.'
      }
    ]
  section#service.experience.position-relative.overflow-hidden 
    .container
      .row.justify-content-center 
        .col-12
          .position-relative.z-1.text-center.mb-8.mb-lg-9(data-video-player-parent)
            video.w-100.h-100.rounded-4(src=`${CWD}assets/video/Tech_video.mp4` poster=`${CWD}assets/img/Hero/experiences.png` type="video/mp4" data-video-player)
            .overlay.position-absolute.top-0.bottom-0.start-0.end-0.rounded-4.bg-1100.object-cover(data-overlay) 
            button.btn.play-button.position-absolute.justify-content-center.align-items-center.bg-white.rounded-circle(data-play-button) 
              img.object-fit-contain.w-25(src=`${CWD}assets/img/illustrations/play-solid.svg`, alt="" data-play-icon)
              img.object-fit-contain.w-25(src=`${CWD}assets/img/illustrations/pause-solid.svg`, alt="" data-pause-icon)
            .position-absolute.dots.d-none.d-sm-block
              img(src=`${CWD}assets/img/illustrations/Dots.png`, alt="").img-fluid.w-100
        .col-md-8.col-lg-7
          h2.fs-4.fs-lg-3.fw-bold.text-center.text-white.mb-5.mb-lg-9.lh-sm We made this app to solve your problems.
        .col-12
          .row.gy-4.g-md-3.pb-8.pb-lg-10.px-1
            each item in serviceItems 
              +Service(item)
    .position-absolute.top-0.start-0.end-0
      .bg-white.py-3.py-md-9.py-xl-10 
      img(src=`${CWD}assets/img/illustrations/Wave_2.svg`, alt="").wave