mixin Review({imgSrc, comment, name}, index)
  .col-12.swiper-slide 
    .d-flex.justify-content-center.gap-2
      .d-flex.flex-column.flex-lg-row.gap-2.px-4.py-x1(class=`review-card-${index + 1}`) 
        div.text-center.text-lg-start
          img(src=`${CWD}assets/img/feedback/${imgSrc}`, alt="").card-image
        .text-center.text-lg-start 
          p.fs-8.mb-2.lh-lg.line-clamp-3= comment 
          span.fs-9.opacity-70.lh-xl= name


mixin Testimonials
  -
    var reviews = [
      {
        imgSrc: 'reviewer_1.png',
        comment: '“OMG! I cannot believe that I have got a brand new landing page after getting Omega. It was super easy to edit and publish.”',
        name: 'Isaac Olson'
      },
      {
        imgSrc: 'reviewer_2.png',
        comment: '“Simply the best. Better than all the rest. I’d recommend this product to beginners and advanced users who want success.”',
        name: 'Barry Young'
      },
      {
        imgSrc: 'reviewer_3.png',
        comment: '“Must have book for all, who want to be Product Designer or Interaction Designer.”',
        name: 'Esther Allison'
      },
      {
        imgSrc: 'kakashi.jpeg',
        comment: '“Every day, I eat, sleep, and worry about stupid things. My job is to ensure that these kids have as many days as possible where they can be idiots like this.”',
        name: 'Kakashi Hatake'
      },
      {
        imgSrc: 'obito.jpeg',
        comment: '“Life isn’t permanent or predictable. You never know when you will run out of time. The best thing you can do is to be honest with those around you and let them know how you really feel. You never know if you have a tomorrow to come.”',
        name: 'Obito Uchiha'
      },
    ]
  .testimonal
    .mx-auto.text-center 
      hr.horizontal-rule.m-0.d-inline-block
    .container.pb-8.pb-lg-10
      h2.fs-6.fs-lg-5.fw-bold.text-center.text-white.heading.pt-7.pb-4.pt-lg-9.pb-lg-6.lh-lg 
        span.underline  1,749 remote teams
        span.tex-nowrap  have shared their 
        br.d-none.d-md-block  
        span.text-nowrap experience with 
        br.d-md-none
        span.text-nowrap our app!

      .row.gap-2.mb-4.mb-lg-6
        .swiper-theme-container
          .swiper.position-relative(data-swiper!={
              spaceBetween: 20,
              mousewheel: {
                  forceToAxis: true,
                  sensitiviye: 20,
                  releaseOnEdges: true,
                },
                autoplay: {
                  delay: 3000,
                  disableOnInteraction: false,
                },
              breakpoints:{
                0:{
                    slidesPerView: 1,
                    direction: 'horizontal',
                    centeredSlide: true,
                    loop: true,
                },
                768: {
                  direction: 'horizontal',
                  centeredSlide: true,
                  slidesPerView: 2,
                  loop: true,
                },
                992: {
                  slidesPerView: 3,
                  direction: "vertical",
                  loop: false,
                }
              }
            })
            .swiper-wrapper 
              each item, index in reviews 
                +Review(item, index)
      a.fs-9.d-flex.justify-content-center.align-items-center.read-more.text-success(href="#!")
        span Read more reviews 
        span.uil.uil-arrow-right.icon