mixin Review({imgSrc, comment, name}, index)
  .col-12 
    .d-flex.justify-content-center.gap-2
      .d-flex.flex-column.flex-md-row.gap-2.px-4.py-x1(class=`review-card-${index + 1}`) 
        div.text-center.text-md-start 
          img(src=`${CWD}assets/img/feedback/${imgSrc}`, alt="")
        div 
          h6.fs-8.text-black.mb-2.fw-normal= comment 
          p.fs-9= name


mixin Testimonials
  -
    var reviews = [
      {
        imgSrc: 'reviewer_1.png',
        comment: '“OMG! I cannot believe that I have got a brand new landing page after getting Omega. It was super easy to edit and publish.”',
        name: 'Isaac Olson'
      },
      {
        imgSrc: 'reviewer_2.png',
        comment: '“Simply the best. Better than all the rest. I’d recommend this product to beginners and advanced users who want success.”',
        name: 'Barry Young'
      },
      {
        imgSrc: 'reviewer_3.png',
        comment: '“Must have book for all, who want to be Product Designer or Interaction Designer.”',
        name: 'Esther Allison'
      }
    ]
  .testimonal
    .mx-auto.text-center 
      hr.horizontal-rule.m-0.d-inline-block
    .container.py-7.py-lg-8.py-xl-9
      h2.fs-6.fs-lg-5.fw-bold.text-center.text-white.mb-6.mb-lg-7.mb-xl-8.heading 
        span.underline  1,749 remote teams
        br.d-sm-none
        |  have shared 
        br.d-sm-none
        | their 
        br.d-none.d-md-block
        | experience 
        br.d-sm-none
        | with our app!
        
      .row.gap-2.mb-4.mb-lg-5.mb-xl-6 
        each item, index in reviews 
          +Review(item, index)
      a.fs-9.d-flex.justify-content-center.align-items-center.gap-1.read-more(href="#!")
        span Read more reviews 
        span.uil.uil-arrow-right.icon