mixin Navbar
  - 
    var menu = [
      { 
        label: 'Home', 
        link: '#home' 
      },
      { 
        label: 'About us', 
        link: '#about' 
      },
      { 
        label: 'Support', 
        link: '#service' 
      },
      { 
        label: 'Pricing', 
        link: '#pricing' 
      },
      { 
        label: 'Contact', 
        link: '#contact' 
      }
    ]

  nav#navbar.navbar.navbar-expand-md.fixed-top(data-navbar-soft-on-scroll)
    .container-fluid.px-0
      a(href=`${CWD}/`)
        img(src=`${CWD}assets/img/logos/logo.svg`, alt="logo").navbar-brand.w-75.d-md-none 
      a(href=`${CWD}/`).navbar-brand.fw-bold.d-none.d-md-block Brainwave.io
      a.btn.btn-primary.btn-sm.ms-md-x1.mt-lg-0.order-md-1.ms-auto(href="#") Get Started Now 
      button.navbar-toggler.border-0.pe-0(type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      
      #navbar-content.collapse.navbar-collapse.justify-content-md-end(data-navbar-collapse)
        ul.navbar-nav.gap-md-2.gap-lg-3.pt-x1.pb-1.pt-md-0.pb-md-0(data-navbar-nav)
          each navMenu in menu 
              li.nav-item 
                  a(href=`${navMenu.link}`).nav-link.lh-xl #{navMenu.label}